.search-page {
    width: 100%;
    height: 100%;
    background-image: url('./images/searchbackground.png');
    background-repeat: no-repeat;
    background-size:100% 100% ;
    text-align: center;
    font-weight: bold;
}

.search-container {
    display: inline-block;
    vertical-align: top;
    margin: 24px;
}

.search-box {
    margin: 24px;
}

.search-input {
    width: 390px;
    background-color:#ffffff;
    border: rgb(177, 177, 177) solid 0.5px;
    color: rgb(0, 0, 0);
    height: 40px;
    box-shadow: rgba(0, 0, 0, 0.1) -4px 9px 25px -6px;
    padding: 4px 24px 4px 24px;
    margin-bottom: 5px;
    border-radius: 10px;    
}

input:focus {
    outline: none;
    box-shadow: none;
}

.search-result {
    border-radius: 10px;
    border: rgb(177, 177, 177) solid 0.5px;
    color: rgb(0, 0, 0);
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.08) 0px 4px 12px;
}

.player-data-item {
    text-align: left;
    padding: 8px 10px 8px 10px;
    color: rgb(0, 0, 0);
    margin: 0px;
}

.player-data-item:hover {
    background-color: rgb(211, 211, 211);
    border-radius: 10px;
}

a {
    text-decoration: none;
    color: black;
}